<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EJEEmployeeIPadApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9B702D6CDFFD1F3D4ED0C96B6592CC9DA17BE949</string>
				<key>dateExpires</key>
				<string>24/04/2025</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9B702D6CDFFD1F3D4ED0C96B6592CC9DA17BE949</string>
						<key>dateExpires</key>
						<string>24/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8235322V74</string>
						<key>name</key>
						<string>Emirates Capital Investments LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9B702D6CDFFD1F3D4ED0C96B6592CC9DA17BE949</string>
						<key>dateExpires</key>
						<string>24/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BadgeSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8235322V74</string>
						<key>name</key>
						<string>Emirates Capital Investments LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9B702D6CDFFD1F3D4ED0C96B6592CC9DA17BE949</string>
						<key>dateExpires</key>
						<string>24/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8235322V74</string>
						<key>name</key>
						<string>Emirates Capital Investments LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9B702D6CDFFD1F3D4ED0C96B6592CC9DA17BE949</string>
						<key>dateExpires</key>
						<string>24/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LiveChat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8235322V74</string>
						<key>name</key>
						<string>Emirates Capital Investments LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.24</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9B702D6CDFFD1F3D4ED0C96B6592CC9DA17BE949</string>
						<key>dateExpires</key>
						<string>24/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8235322V74</string>
						<key>name</key>
						<string>Emirates Capital Investments LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.47.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9B702D6CDFFD1F3D4ED0C96B6592CC9DA17BE949</string>
						<key>dateExpires</key>
						<string>24/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8235322V74</string>
						<key>name</key>
						<string>Emirates Capital Investments LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.47.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9B702D6CDFFD1F3D4ED0C96B6592CC9DA17BE949</string>
						<key>dateExpires</key>
						<string>24/04/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8235322V74</string>
						<key>name</key>
						<string>Emirates Capital Investments LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.19.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8235322V74.com.eci.ejeAgent</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8235322V74</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>EJEEmployeeIPadApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c9fc08c9-cb39-4fb1-b1eb-938532ebb4cb</string>
				<key>dateExpires</key>
				<string>24/04/2025</string>
				<key>name</key>
				<string>EJEAgent_Adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8235322V74</string>
				<key>name</key>
				<string>Emirates Capital Investments LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
